apparmor==3.0.1
appdirs==1.4.4
arandr==0.1.10
argcomplete==1.12.1
asgiref==3.3.4
attrs==20.3.0
Beaker==1.11.0
btrfsutil==5.12
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.7
distlib==0.3.1
distro==1.5.0
Django==3.2.3
dnspython==1.16.0
docopt==0.6.2
dotty-dict==1.3.0
evdev==1.4.0
gufw==21.4.0
hjson==3.0.2
html5lib==1.1
idna==3.1
importlib-metadata==4.0.1
jsonschema==3.2.0
LibAppArmor==3.0.1
lutris==0.5.8.3
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
milc==1.3.0
msgpack==1.0.2
npyscreen==4.10.5
numpy==1.20.2
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.2
pep517==0.10.0
Pillow==8.2.0
ply==3.11
progress==1.5
psutil==5.8.0
pwquality==1.4.4
pybind11==2.6.2
pycairo==1.20.0
pycparser==2.20
Pygments==2.9.0
PyGObject==3.40.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
pyrsistent==0.17.3
python-xlib==0.29
pytz==2021.1
pywal==3.3.1
PyYAML==5.4.1
qmk==0.0.48
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
six==1.16.0
speedtest-cli==2.1.3
sqlparse==0.4.1
team==1.0
toml==0.10.2
ueberzug==18.1.9
ufw==0.36
urllib3==1.26.4
webencodings==0.5.1
youtube-dl==2021.4.26
zipp==3.4.1
