{% extends "dashboard/layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body d-flex flex-row">
            <img class="rounded-circle article-img" src="{{ project.owner.profile.image.url }}">
            <div class="flex-grow-1">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-projects' project.owner.username %}">{{ project.owner }}</a>
                    <small class="text-muted">{{ project.modified }}</small>
                    {% if project.is_public or user in project.members.all %}
                        <div>
                            <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'issue-create' project.id %}">New Issue</a>
                        </div>
                    {% endif %}
                    {% if project.owner == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project-update' project.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'project-delete' project.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <h2 class="article-title">{{ project.name }}</h2>
                <p class="article-content">
                    {% for member in project.members.all %}
                        {{ member.username }}, 
                    {% endfor %}
                </p>
            </div>
        </div>
    </article>
{% endblock content %}
