{% extends "dashboard/layout.html" %}
{% block body %}
    <h1 class="mb-3">Projects by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for project in projects %}
        <article class="media content-section">
            <div class="media-body d-flex flex-row">
                <img class="rounded-circle article-img" src="{{ project.owner.profile.image.url }}">
                <div>
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-projects' project.owner.username %}">{{ project.owner }}</a>
                        <small class="text-muted">{{ project.modified }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'project-detail' project.id %}">{{ project.name }}</a></h2>
                    <p class="article-content">
                        {% for member in project.members.all %}
                            {{ member.username }}, 
                        {% endfor %}
                    </p>
                </div>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info btn-sm" href="?page=1">&lt;&lt;</a>
            <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info btn-sm" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info btn-sm" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
        {% endif %}
    {% endif %}
{% endblock body %}
